#hd {
    background: #fff; 
    border-bottom: 1px solid #dcdcdc;
}

.topbar{
    margin: 0 auto;
    width: 1000px;
    height: 60px; 
}

.topbar .nav{
    height: 100%
}

.topbar .nav li {
    float: left;
    margin: 0 20px;
    line-height: 58px;
    text-align: center;
}

.topbar .serch {
    margin-left: 20px;
    padding-top:10px;
}

.topbar .serch input{
    width:200px;
    height:38px;
    border:1px solid #dcdcdc;
}
.topbar .serch button{
    width:60px;
    height:40px;
    color: #fff;
    background:#fc5a34;
} 
.topbar .logo{
    width: 240px;
    height: 100%;
    line-height:  60px;
    margin-right: 20px;
    text-align: center;
    color:#fff;
    background:url("images/logo-bg.png")
}
.topbar .logo span{
    font-weight: bold;
    font-size: 18px;
    font-size: 18px;
}

.topbar .user {
    font-size: 16px;
    line-height:  60px;
}

.topbar .user a{
    color: #333;
    margin-right: 20px;
}


.ft{
    position: relative;
    background-color: #fafafa;
    background: #f0f0f0;
}

.ft .foot{ 
    width: 1000px; 
    margin: 0 auto; 
    padding-bottom: 20px;
    font-size:14px;
    text-align: center;
}

.ft .foot p{
    padding-top: 20px;
}

.ft .foot .link a{
    margin-right: 30px;
}

#bd{ 
    margin: 30px auto 40px;
}

.bdc{
    width: 1000px; 
    margin: 0 auto;
    overflow:hidden;
    zoom:1;
}

.bd-sd{
    float: left;
    width: 240px;
    background: #fff;
    padding:42px 0 42px 0;
}

.bd-sd ul li {
    padding-left: 80px;
}

.bd-sd ul li a {
    font-size: 16px;
    line-height: 50px;
    
}

.bd-sd img{
    margin-right: 20px;
}

.bd-mn{
    float: right;
    width: 740px;
}

.banner{  
    width: 100%;
    text-align: center;
}

.banner .swiper-container{
    height:280px;
}

.banner img{
    width:100%;
}
   

.banner .desc{
    position: absolute; 
    padding: 15px 30px;
    width: 40%;
    background: linear-gradient(to right, rgba(249, 63, 67, 0.6), rgba(253, 130, 36, 0.6), rgba(255, 255, 255, 0));
    bottom: 0;
    text-align: left;
    color: #fff;
}
 
.list-box{
    margin-top: 40px;
}

.list-box header{
    margin-bottom: 18px;
    position: relative;
}
 
.list-box header .more {
    position: absolute;
    top: 4px;
    right: 0; 
    color: #fc5a34;
}
 

.list-box .contents ul li{
    width: 230px;
    float: left;
    overflow: hidden;
    margin-right: 15px;
    background:  #fff;
}